<div class="sapient-main-container" ng-controller="sapientCtrl">

   <header>
      <span class="headerSapient">your shopping bag</span>
      <span class="right sapient-only-show-small">3 Items</span>
   </header>
   <div class="sapient-hr"></div>
   <div class="sapient-main-width sapient-small-hidden">
      <span class="sapient-col-9 left">3 Items    
              
</span>
      <span class="sapient-col-1 left">size</span>
      <span class="sapient-col-1 left">qty</span>
      <span class="sapient-col-1 left">price</span>
   </div>
   <div class="sapient-hr-dark"></div>
   <div class="row">
      <div class="sapient-col-9 left">
         <div class="sapient-col-6 left">
              <select ng-model="test[0]" ng-options="color for color in test">
    </select>   
           <img src="img/T1.jpg" class="imgDetail">
         </div>
         <div class="sapient-col-6 left">
            <p>Solid green cotton tshirt</p>
            <p>style #: Ms3827382738</p>
            <p>colour: red </p>
            <p class="sapient-small-hidden"><span class="border-right">Edit</span><span class="border-right">Delete</span><span>Save For Later</span></p>
            <div class="sapient-only-show-small">
               <p><span >size</span><span>1</span></p>
               <p> <span>size</span><span>4</span></p>
               <p> <span>size</span><span>$10.00</span></p>
            </div>
         </div>
      </div>
      <p class="sapient-only-show-small">
         <span class="border-right">Edit</span><span class="border-right">Delete</span><span>Save For Later</span>
      </p>
      <div class="sapient-small-hidden">
         <div class="sapient-col-1 left">5</div>
         <div class="sapient-col-1 left">1</div>
         <div class="sapient-col-1 left">$11.00</div>
      </div>
   </div>
   <div class="sapient-hr"></div>
   <div class="row">
      <div class="sapient-col-9 left">
         <div class="sapient-col-6 left">
            <img src="img/T2.jpg" class="imgDetail">
         </div>
         <div class="sapient-col-6 left">
            <p>Solid green cotton tshirt</p>
            <p>style #: Ms3827382738</p>
            <p>colour: red </p>
            <p class="sapient-small-hidden"><span class="border-right">Edit</span><span class="border-right">Delete</span><span>Save For Later</span></p>
            <div class="sapient-only-show-small">
               <p><span>size</span><span>1</span></p>
               <p> <span>size</span><span>4</span></p>
               <p> <span>size</span><span>$10.00</span></p>
            </div>
         </div>
      </div>
      <p class="sapient-only-show-small">
         <span class="border-right">Edit</span>
         <span class="border-right">Delete</span>
         <span>Save For Later</span>
      </p>
      <div class="sapient-small-hidden">
         <div class="sapient-col-1 left">5</div>
         <div class="sapient-col-1 left">1</div>
         <div class="sapient-col-1 left">$11.00</div>
      </div>
   </div>
   <div class="sapient-hr"></div>
   <div class="row">
      <div class="sapient-col-9 left">
         <div class="sapient-col-6 left">
            <img src="img/T3.jpg" class="imgDetail">
         </div>
         <div class="sapient-col-6 left">
            <p>Solid green cotton tshirt</p>
            <p>style #: Ms3827382738</p>
            <p>colour: red </p>
            <p class="sapient-small-hidden"><span class="border-right">Edit</span><span class="border-right">Delete</span><span>Save For Later</span></p>
            <div class="sapient-only-show-small">
               <p><span>size</span><span>1</span></p>
               <p> <span>size</span><span>4</span></p>
               <p> <span>size</span><span>$10.00</span></p>
            </div>
         </div>
      </div>
      <p class="sapient-only-show-small">
         <span class="border-right">Edit</span>
         <span class="border-right">Delete</span>
         <span>Save For Later</span>
      </p>
      <div class="sapient-small-hidden">
         <div class="sapient-col-1 left">5</div>
         <div class="sapient-col-1 left">1</div>
         <div class="sapient-col-1 left">$11.00</div>
      </div>
   </div>
   <div class="sapient-hr"></div>
   <div class="row">
      <div class="sapient-col-9 left">
         <div class="sapient-col-6 left">
            <img src="img/T4.jpg" class="imgDetail">
         </div>
         <div class="sapient-col-6 left">
            <p>Solid green cotton tshirt</p>
            <p>style #: Ms3827382738</p>
            <p>colour: red </p>
            <p class="sapient-small-hidden"><span class="border-right">Edit</span><span class="border-right">Delete</span><span>Save For Later</span></p>
            <div class="sapient-only-show-small">
               <p><span>size</span><span>1</span></p>
               <p> <span>size</span><span>4</span></p>
               <p> <span>size</span><span>$10.00</span></p>
            </div>
         </div>
      </div>
      <p class="sapient-only-show-small">
         <span class="border-right">Edit</span>
         <span class="border-right">Delete</span>
         <span>Save For Later</span>
      </p>
      <div class="sapient-small-hidden">
         <div class="sapient-col-1 left">5</div>
         <div class="sapient-col-1 left">1</div>
         <div class="sapient-col-1 left">$11.00</div>
      </div>
   </div>
</div>
</div>