body{
    margin:0px;
    padding:0px;
}
* {
    box-sizing: border-box;
    text-transform: uppercase;
}
.left{
    float: left;
}
.right{
    float:right;
}
.row{
    width: 100%;
    height: 285px;
    padding: 10px;
}

.imgDetail{
    /*width: 65%;
    height:250px;*/
}
.sapient-main-width{
    width: 100%;
    height:40px;
    padding: 10px;
}

.sapient-col-1 {width: 8.33%;}
.sapient-col-2 {width: 16.66%;}
.sapient-col-3 {width: 25%;}
.sapient-col-4 {width: 33.33%;}
.sapient-col-5 {width: 41.66%;}
.sapient-col-6 {width: 50%;}
.sapient-col-7 {width: 58.33%;}
.sapient-col-8 {width: 66.66%;}
.sapient-col-9 {width: 75%;}
.sapient-col-10 {width: 83.33%;}
.sapient-col-11 {width: 91.66%;}
.sapient-col-12 {width: 100%;}


.sapient-main-container{
    width:100%;
    background: #fff;
    opacity : 0.7%;
    padding:10px;

}
.sapient-color{
     color: #ccc;
}
.sapient-main-container .headerSapient{
    font-size: 30px;
    color: #ccc;
    height:50px;
}
.border-right{
    border-right: 2px solid #ccc;
    padding-right: 10px;
    margin-right: 10px;
  
}
.sapient-hr{
    width:100%;
    border:1px solid;
   border-width: 1px;
   border-color: #ccc;
}
.sapient-hr-dark{
    border:1px solid;
   border-width: 3px;
   border-color: #ccc;

}
 .sapient-only-show-small{
                display: none;

    }

@media only screen and (min-width: 360px) and (max-width:670px){
    .sapient-col-9 {
        width:100%
    }
    .sapient-small-hidden{
        display: none;
    }
    .sapient-only-show-small{
                display: block;

    }
    .row{
 
    height: 320px;
  
}
.sapient-main-container .headerSapient{
    font-size: 20px;
   
}
}