body{
    margin:0px;
    padding:0px;
    font-family: sans-serif;
    color:#888;
}
* {
    box-sizing: border-box;
   
}
header{
    height:100px;
}
.left{
    float: left;
}
.right{
    float:right;
}
.mbm{
    margin-bottom: 10px;
}
.mtm{
    margin-top: 10px; 
}
.mtl{
    margin-top: 20px;
}
.mxl{
    margin-left: 35%;
}
.row{
    width: 100%;
    height: 200px;
    padding: 10px;
}
.textAlignC{
    text-align: center;
}

.sapient-main-width{
    width: 100%;
    height:40px;
    padding: 10px;
}
p{
    padding: 0px;
    margin: 0px;
}
a{
    text-decoration: underline;
}
.fontSizeA{
    font-size: 26px;
}
.borderTop{
    border-top: 6px solid #ccc;
}
.borderHeight{
        height: 50px;


}

.sapient-col-1 {width: 8.33%;}
.sapient-col-2 {width: 16.66%;}
.sapient-col-3 {width: 25%;}
.sapient-col-4 {width: 33.33%;}
.sapient-col-5 {width: 41.66%;}
.sapient-col-6 {width: 50%;}
.sapient-col-7 {width: 58.33%;}
.sapient-col-8 {width: 66.66%;}
.sapient-col-9 {width: 75%;}
.sapient-col-10 {width: 83.33%;}
.sapient-col-11 {width: 91.66%;}
.sapient-col-12 {width: 100%;}

.uppercase{
    text-transform: uppercase;
    cursor: pointer;
}
.capitalize{
    text-transform: capitalize;
}


.sapient-main-container{
    width:100%;
    background: #fff;
    opacity : 0.7%;
    padding:10px;

}

.sapient-main-container .headerSapient{
    font-size: 60px;
}
.border-right{
    border-right: 2px solid #ccc;
    padding-right: 10px;
    margin-right: 10px;
  
}
.sapient-hr{
    width:100%;
    border-bottom:2px solid #ccc;
  
}
.sapient-hr-dark{
    border:2px solid;
   border-width: 3px;
   border-color: #ccc;

}
 .sapient-only-show-small{
    display: none;
}
.pam{
    padding: 10%;
}
    /* The Modal (background) */
.modal {
    
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #888;
    opacity: 1;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 10% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    height: 500px;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.imgDetailChange{
    width: 75%;
    height:75%;
}
.valueInput{
    width: 35px;
    height: 30px;
}
/*Button */

.btn{
    border: 1px solid #ccc;
    display: inline-block;
    outline: 0;
    padding: 10px 55px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none!important;
    color: #000;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    font-size: 16px;
}
.checkOutBtn{
    color: #fff!important;
    background-color: #2196F3!important;
}
.applyDiv{
    width:200px;
    height:35px;
}
.borderBottom{
    height:220px;
    border-bottom: 6px solid #ccc;
}



@media only screen and (min-width: 360px) and (max-width:670px){
    .sapient-col-9,.sapient-col-12,.sapient-col-4,.sapient-col-8{
        width:100%
    }
    .sapient-small-hidden{
        display: none;
    }
    .sapient-only-show-small{
                display: block;

    }
    header{
    height:50px;
}
    .borderHeight{
        height: 90px;


}
.modal{
    display: none;
}
    .row{
        height: 300px;
       }
.sapient-main-container .headerSapient{
    font-size: 20px;
   }
   .applyDiv{
        width: 165px;
    height: 40px;
}
}