<div class="sapient-main-container">
   <header>
      <span class="headerSapient uppercase">your shopping bag</span>
      <span class="right sapient-only-show-small uppercase">{{sapientLength}} Items</span>
   </header>
   <div class="sapient-hr"></div>
   <div class="sapient-main-width sapient-small-hidden">
      <span class="sapient-col-9 left uppercase">{{sapientLength}}  Items    
              
</span>
      <span class="sapient-col-1 left uppercase">size</span>
      <span class="sapient-col-1 left uppercase">qty</span>
      <span class="sapient-col-1 left uppercase">price</span>
   </div>
   <div class="sapient-hr-dark"></div>
   <div class="row" ng-repeat="ctrl in ProductDetail">
      <div class="sapient-col-9 left">
         <div class="sapient-col-6 left">
           <img ng-src="{{ctrl.images}}" class="imgDetail">
         </div>
         <div class="sapient-col-6 left">
            <p class="uppercase">{{ctrl.p_name}} {{ctrl.p_variation}}</p>
            <p><span>Style #:</span><span class="uppercase"> {{ctrl.p_style}}</span></p>
            <p><span>Colour:</span>
               <span>{{ctrl.p_selected_color.name}}</span>
            </p>
            <p class="sapient-small-hidden">
                  <span class="border-right uppercase" ng-click="EditData(ctrl)">Edit</span>
                  <span class="border-right uppercase" ng-click="deleteData(ctrl)">Delete</span>
                  <span class="uppercase">Save For Later</span></p>
            <div class="sapient-only-show-small">
               <p><span >size</span><span>{{ctrl.p_selected_size.code}}</span></p>
               <p> <span>size</span><span>4</span></p>
               <p> <span>size</span><span>{{ctrl.c_currency}}{{ctrl.p_price}}</span></p>
            </div>
         </div>
      </div>
      <p class="sapient-only-show-small">
         <span class="border-right uppercase" ng-click="EditData(ctrl)">Edit</span>
         <span class="border-right uppercase" ng-click="deleteData(ctrl)">Delete</span>
         <span>Save For Later</span>
      </p>
      <div class="sapient-small-hidden">
         <div class="sapient-col-1 left">{{ctrl.p_selected_size.code}}</div>
         <div class="sapient-col-1 left">1</div>
         <div class="sapient-col-1 left" >{{ctrl.c_currency}}{{ctrl.p_price}}</div>
      </div>
   </div>
  
   <div class="sapient-hr"></div>
   <div>
         total:{{total}}

</div>
<!-- Trigger/Open The Modal -->
<div ng-if="modalDataShow">

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close" ng-click="closeData()">&times;</span>
     <div class="sapient-col-6 left">
           <img ng-src="{{modalDataImages.images}}" class="imgDetail">
         </div>
  </div>

</div>
</div>
